{% extends "base.html" %}

{% block title %}sashimayo.com{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center">sashimayo.com</h1>

  <div class="display">
      <button type="button" class="sample" onclick="location.href='/product'">Product</button>
      <button type="button" class="sample" onclick="location.href='/product'">Profile</button>
      <button type="button" class="sample"
              onclick="location.href='https://github.com/MuslePainBrothers'">GitHub</button>
  </div>

  <br><br><br><br><br><br><br><br>

  <!--<button type="button" class="btn btn-default">Default</button>-->
  <!--<button type="button" class="btn btn-primary">Primary</button>-->
  <!--<button type="button" class="btn btn-success">Success</button>-->
  <!--<button type="button" class="btn btn-info">Info</button>-->
  <!--<button type="button" class="btn btn-warning">Warning</button>-->
  <!--<button type="button" class="btn btn-danger">Danger</button>-->

</div>

{% endblock %}

