{% extends "base.html" %}

{% block title %}sashimayo.com{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-center">sashimayo.com</h1>

  <div class="display">
      <button type="button" class="menu_box" onclick="location.href='/product'">Product</button>
      <button type="button" class="menu_box" onclick="location.href='/profile'">Profile</button>
      <button type="button" class="menu_box"
              onclick="location.href='https://github.com/MuslePainBrothers'">GitHub</button>
  </div>

</div>
{% endblock %}

